<h1><%= @artist.name %></h1>

<ul id="songs">
<%= render @artist.songs %>
</ul>

<%= form_for [@artist, @artist.songs.new], remote: true do |f| %>
  <%= f.text_field :title %>
  <%= f.submit 'Add song' %>
<% end %>

<%= image_tag @artist.image %>
